@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-display: 'Rubik', sans-serif;
    --font-body: 'Nunito', sans-serif;
  }

  body {
    @apply font-sans font-normal;
    font-family: var(--font-body);
  }
}

@layer utilities {
  .highlight {
    @apply font-bold bg-yellow-100 px-1 rounded;
  }
  .word.wrong {
    @apply bg-red-200 px-1 rounded;
  }
}
