@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-display: 'Rubik', sans-serif;
    --font-body: 'Nunito', sans-serif;
  }

  body {
    @apply font-sans font-normal bg-background text-text dark:bg-slate-900 dark:text-slate-100;
    font-family: var(--font-body);
  }
}
